<main>
    <div class="main-header">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>


        <div class="my-2 container">
            <p>
                TODO App <a type="button" class="btn btn-primary" href="/NotesApp-Home">Click here</a>
            </p>
        </div>

        <div class="my-5 container">
            <button type="button" class="btn btn-primary contact" data-url="/Contact-Show">Contact</button>

            <button type="button" class="btn btn-primary gallery" data-url="/Gallery-Show">Gallery</button>
        </div>

        <div class="mt-5 container">
            <div class="row main-content">

            </div>
        </div>
    </div>
</main>