<div class="notes-page-main"  data-parallax="scroll" data-image-src="/images/notes-bg.jpg">
    <div class="container todo-container">
        <h1>Hello User</h1>
        <h2>Welcome to {{title}}</h2>

        <div class="row my-5">
            <div class="col-lg-4">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action saved-note active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="note-heading">List group item heading lorem</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="note-text">Some placeholder content in a paragraph.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action saved-note active">
                        <span class="add-icon">+</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>