// NAVIGATION SCSS

.nav-menu {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: 30px 0;
    color: $white;
    background: -moz-linear-gradient(top,  $gradient-hero-top,  $gradient-hero-bottom); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $gradient-hero-top, $gradient-hero-bottom); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $gradient-hero-top, $gradient-hero-bottom); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    .menu-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-items {
            display: flex;

            li.nav-item {
                padding: 0 10px;
                list-style-type: none;

                a {
                    color: $white;
                    font-family: $roboto-light;
                    font-size: 16px;
                    font-weight: lighter;
                    text-decoration: none;
                    transition: .3s all;

                    &.active,
                    &:hover {
                        color: $orange-browny;
                    }
                }
            }
        }
    }

    &.scrolledIn {
        background: -moz-linear-gradient(top,  $gradient-hero-top,  $gradient-hero-bottom-scrolled); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  $gradient-hero-top, $gradient-hero-bottom-scrolled); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  $gradient-hero-top, $gradient-hero-bottom-scrolled); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // position: fixed;
        padding: 12px 0;
        transition: .3s;

        .logo {
            width: 100px;
            img {
                margin: 0 auto;
                display: block;
                width: 60px;
                height: 60px;
                transition: .3s all;
            }
        }
    }

    &.collapsing-menu-up {
        transition: .3s all;
        padding: 30px 0;
        background: -moz-linear-gradient(top,  $gradient-hero-top,  $gradient-hero-bottom); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  $gradient-hero-top, $gradient-hero-bottom); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  $gradient-hero-top, $gradient-hero-bottom); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        .logo {
            width: 100px;
            img {
                width: 100px;
                height: 100px;
                transition: .3s all;
            }
        }
    }

    &.collapsing-menu-down {
        background: -moz-linear-gradient(top,  $gradient-hero-top,  $gradient-hero-bottom-scrolled); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  $gradient-hero-top, $gradient-hero-bottom-scrolled); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  $gradient-hero-top, $gradient-hero-bottom-scrolled); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        padding: 12px 0;
        transition: .3s;

        .logo {
            width: 100px;
            img {
                margin: 0 auto;
                display: block;
                width: 60px;
                height: 60px;
                transition: .3s all;
            }
        }
    }

    &.scrolling-up {
        background: -moz-linear-gradient(top,  $gradient-hero-top,  $gradient-hero-bottom-scrolling-up); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  $gradient-hero-top, $gradient-hero-bottom-scrolling-up); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  $gradient-hero-top, $gradient-hero-bottom-scrolling-up); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        transition: .3s all;
        padding: 20px 0;

        .logo {
            width: 100px;
            img {
                margin: 0 auto;
                display: block;
                width: 80px;
                height: 80px;
                transition: .3s all;
            }
        }
    }
}