<div class="list-group-item list-group-item-action saved-note active">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="note-heading">List group item heading lorem</h5>
        <small>3 days ago</small>
    </div>
    <p class="note-text">Some placeholder content in a paragraph.</p>
</div>
